body {
  box-sizing: border-box; }

.menu-wrrapper,
.menu-list,
.menu-logo,
.news-category
li,
ul,
a {
  margin: 0 auto; }

ol, ul {
  list-style: none; }

div {
  display: block; }

a {
  text-decoration: none; }

li {
  display: list-item; }
