body {
  box-sizing: border-box; }

.menu-wrrapper,
.menu-list,
.menu-logo,
.news-category
li,
ul,
a {
  margin: 0 auto; }

ol, ul {
  list-style: none; }

div {
  display: block; }

a {
  text-decoration: none; }

li {
  display: list-item; }

div {
  display: block; }

.menu-wrrapper,
.menu-list,
.menu-logo,
li,
ul,
a {
  margin: 0 auto; }

.menu-wrrapper {
  margin: 0 auto;
  margin-left: 5px;
  width: 100%;
  background: #a70e1a;
  height: 40px;
  position: relative; }
  .menu-wrrapper .menu-logo {
    padding: 0 12px; }
  .menu-wrrapper .menu-list {
    float: left;
    height: 40px;
    display: flex;
    list-style: none; }
    .menu-wrrapper .menu-list li {
      margin: auto;
      float: left;
      position: relative;
      white-space: nowrap;
      display: list-item;
      padding: 0 12px; }
      .menu-wrrapper .menu-list li a {
        text-decoration: none;
        color: #fff;
        font-size: 100%;
        font-weight: 500; }
        .menu-wrrapper .menu-list li a:hover {
          color: cornsilk; }
