body {
  box-sizing: border-box; }

.menu-wrrapper,
.menu-list,
.menu-logo,
.news-category
li,
ul,
a {
  margin: 0 auto; }

ol, ul {
  list-style: none; }

div {
  display: block; }

a {
  text-decoration: none; }

li {
  display: list-item; }

.news-category {
  margin: 0 auto;
  width: 50%;
  position: relative; }
  .news-category .news-category-title {
    display: block;
    margin-left: 15px;
    border: none; }
    .news-category .news-category-title span {
      font-weight: 900; }
    .news-category .news-category-title .news-date {
      float: right;
      padding-top: 10px; }
      .news-category .news-category-title .news-date .news-by-date {
        font-size: 20px;
        float: left;
        height: 28px;
        font-size: 15px;
        line-height: 25px;
        color: #555;
        margin-right: 15px;
        text-transform: none; }
      .news-category .news-category-title .news-date .date {
        float: left; }
        .news-category .news-category-title .news-date .date li {
          display: list-item;
          float: left;
          margin-right: 10px;
          height: 28px; }
          .news-category .news-category-title .news-date .date li select {
            outline: none;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5em;
            width: 200px;
            cursor: pointer; }
          .news-category .news-category-title .news-date .date li .date {
            width: 40px;
            height: 25px;
            border-radius: 3px;
            background-color: white; }
          .news-category .news-category-title .news-date .date li .month {
            width: 80px;
            height: 25px;
            border-radius: 3px;
            background-color: white; }
          .news-category .news-category-title .news-date .date li .year {
            width: 60px;
            height: 25px;
            border-radius: 3px;
            background-color: white; }
        .news-category .news-category-title .news-date .date button {
          background: #777;
          width: 60px;
          height: 25px;
          border-radius: 3px;
          outline: none;
          border: none;
          color: #fff; }
  .news-category .news-category-title:before {
    content: "|";
    color: #fb6c27;
    font-size: 30px;
    font-weight: 1000; }
  .news-category .news-list {
    margin: 0;
    padding: 20px;
    float: left;
    justify-content: space-between;
    margin-top: 20px; }
    .news-category .news-list .news-focus {
      padding: 10px;
      width: 30%;
      float: left; }
      .news-category .news-list .news-focus img {
        width: 100%;
        height: 120px; }
      .news-category .news-list .news-focus a {
        color: #343434;
        font-size: 16px;
        font-weight: 600; }
        .news-category .news-list .news-focus a:hover {
          color: black; }
      .news-category .news-list .news-focus .attention {
        background-color: #9ca7b7;
        color: #fff !important;
        padding: 3px 5px;
        border-radius: 5px;
        margin-left: 5px; }
      .news-category .news-list .news-focus .hour {
        font-size: 13px;
        color: #777; }
