body {
  box-sizing: border-box; }

.menu-wrrapper,
.menu-list,
.menu-logo,
.news-category
li,
ul,
a {
  margin: 0 auto; }

ol, ul {
  list-style: none; }

div {
  display: block; }

a {
  text-decoration: none; }

li {
  display: list-item; }

.list-news {
  width: 800px; }
  .list-news .news {
    border-bottom: 1px solid #ebebeb; }
    .list-news .news .image-title {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 200px;
      float: left; }
    .list-news .news .content-title {
      width: 600px;
      float: left; }
    .list-news .news h3 a {
      color: #343434; }
    .list-news .news .hour-hocduong {
      margin-bottom: 10px; }
    .list-news .news .hoc-duong {
      color: #343434;
      font-weight: 600; }
    .list-news .news .hour {
      color: gray;
      font-weight: 500; }
    .list-news .news .spoil-content {
      padding-top: 20px;
      color: #2e2c2c; }
  .list-news .clearfix {
    clear: both; }
