@import "common.scss";
div {
  display: block;
}
.menu-wrrapper,
.menu-list,
.menu-logo,
li,
ul,
a {
  margin: 0 auto;
}
.menu-wrrapper {
  margin: 0 auto;
  margin-left: 5px;
  width: 100%;
  background: #272727;
  height: 40px;
  position: relative;
  .menu-logo{
    padding: 0 12px
  }
  .menu-list {
    float: left;
    height: 40px;
    display: flex;
    list-style: none;
    li {
      margin: auto;
      float: left;
      position: relative;
      white-space: nowrap;
      display: list-item;
      padding: 0 12px;
      a {
        text-decoration: none;
        @include CSSFont(#aeaeae, 100%, 500);
        &:hover{
            color: cornsilk;
        }
      }
    }
  }
}
