@import "common.scss";
div {
  display: block;
}
.menu-wrrapper {
  font-size: 14px;
  margin: 0 auto;
  margin-left: 5px;
  width: 100%;
  background: #014584;
  height: 40px;
  position: relative;
  .menu-logo {
    padding: 0 12px;
  }
  .menu-list {
    float: left;
    height: 40px;
    display: flex;
    list-style: none;
    li {
      margin: auto;
      float: left;
      position: relative;
      white-space: nowrap;
      display: list-item;
    //   padding: 0 12px;
      a {
        text-decoration: none;
        @include CSSFont(#fff, 100%, 600);
        &:hover {
          color: cornsilk;
        }
      }
    }
    li:after {
      content: "|";
      color: #fff;
      font-size: 20px;
      margin: 0 8px;
    }
  }
}
