@import "common.scss";
.news-category {
  margin: 0 auto;
  width: 50%;
  position: relative;
  .news-category-title {
    display: block;
    margin-left: 15px;
    border: none;
    span {
      font-weight: 900;
    }
    .news-date {
      float: right;
      padding-top: 10px;
      .news-by-date {
        font-size: 20px;
        float: left;
        height: 28px;
        font-size: 15px;
        line-height: 25px;
        color: #555;
        margin-right: 15px;
        text-transform: none;
      }
      .date {
        float: left;
        li {
          display: list-item;
          float: left;
          margin-right: 10px;
          height: 28px;
          select {
            outline: none;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5em;
            width: 200px;
            cursor: pointer;
          }
          .date {
            width: 40px;
            height: 25px;
            border-radius: 3px;
            background-color: white;
          }
          .month {
            width: 80px;
            height: 25px;
            border-radius: 3px;
            background-color: white;
          }
          .year {
            width: 60px;
            height: 25px;
            border-radius: 3px;
            background-color: white;
          }
        }
        button {
          background: #777;
          width: 60px;
          height: 25px;
          border-radius: 3px;
          outline: none;
          border: none;
          color: #fff;
        }
      }
    }
  }
  .news-category-title:before {
    content: "|";
    color: #fb6c27;
    font-size: 30px;
    font-weight: 1000;
  }
  .news-list {
    margin: 0;
    padding: 20px;
    // display: inline-block;
    float: left;
    justify-content: space-between;
    margin-top: 20px;
    .news-focus {
      padding: 10px;
      width: 30%;
      float: left;
      img {
        width: 100%;
        height: 120px;
      }
      a {
        @include CSSFont(#343434, 16px, 600);
        &:hover {
          color: black;
        }
      }

      .attention {
        background-color: #9ca7b7;
        color: #fff !important;
        padding: 3px 5px;
        border-radius: 5px;
        margin-left: 5px;
      }
      .hour {
        font-size: 13px;
        color: #777;
      }
    }
  }
}
