@import "common.scss";
.news-slide {
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  width: 700px;
  padding-top: 15px;
//   position: relative;
  .news-slide-title {
    color: #222;
    margin-left: 65px;
    margin-bottom: 18px;
    font-size: 24px;
    text-transform: uppercase;
  }
  .icon-news-slide {
    color: rgb(238, 148, 13);
    margin-right: 10px;
    margin-left: 10px;
  }
  .news-slide-content {
    // position: relative;
    overflow: hidden;
    .news-slide-content-list {
    //   position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: translate3d(0, 0, 0);
      display: flex;
      .news-slide-content-list-li {
        height: 253px;
        border: 1px solid #e6e6e6;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
        width: 260px;
        margin-left: 20px;
        float: left;
        // position: relative;
        background: #fff;
        overflow: hidden;
        border-radius: 3px;
        .news-slide-content-a {
          display: block;
          width: 260px;
          height: 165px;
          margin-bottom: 5px;
          position: relative;
          .img{
            width: 100%;
            display: block;
          }
          span{
            margin-top: 10px;
            // position: relative;
            font-size: 15px;
            color: #fff;
            line-height: 35px;
            font-family: Arial;
          }
    
        }
        .news-slide-views{
            color: #f5f5f5;
            display: block;
            width: 100%;
            height: 35px;
             position: absolute;
            bottom: -4px;
            left: 0;
            background: rgba(0,0,0,.8);
          }
      }
      .news-title{
          margin: 10px;
        padding: 0 5px 10px;
        a{
            color: #333;
            font-size: 14px;
            text-decoration: none;
        }
      }
    }
  }

}
