@import "common.scss";
.list-news {
  width: 800px;
  .news {
    border-bottom: 1px solid #ebebeb;
    .image-title {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 200px;
      float: left;
    }
    .content-title {
      width: 600px;
      float: left;
    }
    h3 {
      a {
        color: #343434;
      }
    }
    .hour-hocduong {
      margin-bottom: 10px;
    }
    .hoc-duong {
      color: #343434;
      font-weight: 600;
    }
    .hour {
      color: gray;
      font-weight: 500;
    }
    .spoil-content {
      padding-top: 20px;
      color: rgb(46, 44, 44);
    }
  }
  .clearfix {
    clear: both;
  }
}
